* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
  width: 100%;
  height: auto;

}
/*-------------NAVIGATION BAR --------*/
/*.navbar {
  display: grid;
  grid-template-columns: 48% 13% 13% 13% 13% ;
  grid-template-rows: repeat(1, 100%);
  grid-template-areas:
  "logo home menu about contact";
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
  background-color: #f6b319;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}
}
.logo {
grid-area: logo;
padding: 20px 20px;
font-family: cursive;
color: #006600;
font-size: 30px;
padding: 0px;

}
.home {
grid-area: home;
background: #f9cf6c;
padding: 40px 20px;

}
.menu {
grid-area: menu;
background: #f9cf6c;
padding: 40px 20px;
}
.about {
grid-area: about;
background: #f9cf6c;
padding: 40px 20px;
}
.contact {
grid-area: contact;
background: #f9cf6c;
padding: 40px 20px;
}*/

/*------------^NAVIGATION BAR^ --------*/
/* -----------CONTENT---------------*/
.aboutwebsite {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 20px;
  font-size: 18px;
}
.aboutwebsite h1 {
  text-align: center;
}


/* -----------^CONTENT^---------------*/
/*-------------FOOTER --------*/
.footer {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: repeat(1, fr);
  grid-template-areas:
  "hours address quote";
  margin-top: 20px;

}
.hours {
  grid-area: hours;
  background-color: #161616;
  padding: 50px;
  word-spacing: 10px;

}
.address {
  grid-area: address;
  background-color: #161616;
  padding: 50px;

}
.quote {
  grid-area: quote;
  background-color: #161616;
  padding: 50px;

}
#deliv {
  color: green;
  font-size: 13px;
}
#hours {
  font-size: 25px;
}
#address {
  font-size: 25px;
}


/*-------------^FOOTER^ --------*/

/*---- MEDIA QUERIES For Nav Bar---------*/
            /* 880px screen */
@media screen and (min-width: 880px) {
  .navbar {
    display: grid;
    grid-template-columns: 48% 13% 13% 13% 13% ;
    grid-template-rows: repeat(1, 100%);
    grid-template-areas:
    "logo home menu about contact";
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: #f6b319;
    text-align: center;
    padding: 20px;
    font-size: 20px;
  }
}
.logo {
  grid-area: logo;
  padding: 20px 20px;
  font-family: cursive;
  color: #006600;
  font-size: 30px;
  padding: 0px;

}
.home {
  grid-area: home;
  background: #f9cf6c;
  padding: 40px 20px;

}
.menu {
  grid-area: menu;
  background: #f9cf6c;
  padding: 40px 20px;
}
.about {
  grid-area: about;
  background: #f9cf6c;
  padding: 40px 20px;
}
.contact {
  grid-area: contact;
  background: #f9cf6c;
  padding: 40px 20px;
}

       /* 880px screen */
