* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  color: #fff;
  background-image: url("./tile22.jpg");
  font-family: 'Oxygen', sans-serif;
  width: 100%;
  height: auto;

}

/* --------------ALL LINK STYLES----------*/
}
.navbar a:link {
  color: #000;
}
.navbar a:visited {
  color: #000;
}
.navbar a:hover {
  color: grey;
  transition: 0.2s;
  background-color: #fff;
  border-radius: 25px;
}
.navbar a:active {
  color: blue;
}
.navbar a {
  text-decoration: none;
  padding: 20px;
  background-color: #D8D8C5;
  border-radius: 5px;
  background-image: url("./navwood.jpg");

}

/*-------------NAVIGATION BAR --------*/
/*.navbar {
  display: grid;
  grid-template-columns: 48% 13% 13% 13% 13% ;
  grid-template-rows: repeat(1, 100%);
  grid-template-areas:
  "logo home menu about contact";
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
  background-color: #f6b319;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}
}
.logo {
grid-area: logo;
padding: 20px 20px;
font-family: cursive;
color: #006600;
font-size: 30px;
padding: 0px;

}
.home {
grid-area: home;
background: #f9cf6c;
padding: 40px 20px;

}
.menu {
grid-area: menu;
background: #f9cf6c;
padding: 40px 20px;
}
.about {
grid-area: about;
background: #f9cf6c;
padding: 40px 20px;
}
.contact {
grid-area: contact;
background: #f9cf6c;
padding: 40px 20px;
}*/

/*------------^NAVIGATION BAR^ --------*/
/*-------------CONTENT----------------*/
form {


  border: rgb(128, 255, 255) solid 2px;
  padding: 10px;
  margin-left: 60px;
  margin-right: 60px;
  grid-template-columns: repeat(autofit, 600px);
  grid-template-rows: 1fr;
  text-align: center;

}
form input {
  width: 40%;
  height: 30px;
  text-align: center;
  margin-left:60px;
  margin-right: 60px;
  margin-bottom: 4px;
  overflow: auto;
  background-color: #ffd3b6;
  padding: 0px 0.5%;
  border: 2px solid rgba(128, 255, 255, 0.6);

}
form h1 {
  text-align: center;
  color: #fff;
}
form p {
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
}
}

#pg {
  text-align: center;
  font-size: 10px;
}

#rate {
  background-color:  #ffd3b6;
  color: #dcedc1 ;
}
#rate:hover {
  background:#a8e6cf;
}

#firstfield {
  padding-left: 2px;
  background-color: #f9cf6c;
}
#firstfield:hover {
  background: #a8e6cf ;
}
#secondfield {
  padding-left: 2px;
  background-color: #f9cf6c;
}
#secondfield:hover {
  background: #a8e6cf ;
}
#thirdfield {
  padding-left: 2px;
  background-color: #f9cf6c;
}
#thirdfield:hover {
  background: #a8e6cf ;
}
#fourthfield {
  padding-left: 2px;
  background-color: #f9cf6c;
}
#fourthfield:hover {
  background: #a8e6cf ;
}
form #checkbox {
  padding: 2px 2px;
}
.submit {
  background-color: #f9cf6c;
}








/*-----------^CONTENT^--------------*/
/*-------------FOOTER --------*/
.footer {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: repeat(1, fr);
  grid-template-areas:
  "hours address quote";
  margin-top: 20px;

}
.hours {
  grid-area: hours;
  background-color: #161616;
  padding: 50px;
  word-spacing: 10px;

}
.address {
  grid-area: address;
  background-color: #161616;
  padding: 50px;

}
.quote {
  grid-area: quote;
  background-color: #161616;
  padding: 50px;

}
#deliv {
  color: green;
  font-size: 13px;
}
#hours {
  font-size: 25px;
}
#address {
  font-size: 25px;
}


/*-------------^FOOTER^ --------*/


/*---- MEDIA QUERIES For Nav Bar---------*/
            /* 880px screen */
@media screen and (min-width: 880px) {
  .navbar {
    display: grid;
    grid-template-columns: 48% 13% 13% 13% 13% ;
    grid-template-rows: repeat(1, 100%);
    grid-template-areas:
    "logo home menu about contact";
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: #100716;
    text-align: center;
    padding: 20px;
    font-size: 20px;
  }
}
.logo {
  grid-area: logo;
  padding: 20px 20px;
  font-family: cursive;
  color: #006600;
  font-size: 30px;
  padding: 0px;
  color: #FFF;
}
.home {
  grid-area: home;
  background: #100716;
  padding: 40px 20px;
  color: #FFF;
}
.menu {
  grid-area: menu;
  background: #100716;
  padding: 40px 20px;
  color: #FFF;
}
.about {
  grid-area: about;
  background: #100716;
  padding: 40px 20px;
  color: #FFF;
}
.contact {
  grid-area: contact;
  background: #100716;
  padding: 40px 20px;
  color: #FFF;
}

       /* 880px screen */
