* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  color: #fff;
  background-image: url("./tile22.jpg");
  font-family: 'Oxygen', sans-serif;
}
.navbar a:link {
  color: #000;
}
.navbar a:visited {
  color: #000;
}
.navbar a:hover {
  color: #fff;
  transition: 0.2s;
  background-color: #fff;
  border-radius: 25px;
}
.navbar a:active {
  color: black;
}
.navbar a {
  text-decoration: none;
  padding: 20px;
  background-color: #D8D8C5;
  border-radius: 5px;
  background-image: url("./navwood.jpg");
  transition: 1s ease-in-out;

}

/*-------------NAVIGATION BAR --------*/
.navbar {
  display: grid;
  grid-template-columns: 48% 13% 13% 13% 13% ;
  grid-template-rows: repeat(1, 100%);
  grid-template-areas:
  "logo home menu about contact";
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
  background-color: #000;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}
}
.logo {
grid-area: logo;
padding: 20px 20px;
font-family: cursive;
color: #006600;
font-size: 30px;
padding: 0px;
color: #FFF;

}
.home {
grid-area: home;
background: #000;
padding: 40px 20px;
color: #FFF;


}
.menu {
grid-area: menu;
background: #000;
padding: 40px 20px;
color: #FFF;
}
.about {
grid-area: about;
background: #000;
padding: 40px 20px;
color: #FFF;
}
.contact {
grid-area: contact;
background: #000;
padding: 40px 20px;
color: #FFF;
}


/* NAV BAR */

/*-------------^NAVIGATION BAR^ --------*/


/* -----------CONTENT-------------*/
.menu-details {
  margin-top: 20px;
}
.menu-details h1 {
  text-align: center;
  color: #fff;
}
.menu-details p {
  text-align: center;
  margin-top:10px;
  color: #fff;
}
.allcards {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 100px 400px 400px 100px 400px 400px 100px 400px 400px;
  grid-template-areas:
  "first-menu first-menu"
  "c1 c2"
  "c3 c4"
  "second-menu second-menu"
  "c5 c6"
  "c7 c8"
  "third-menu third-menu"
  "c9 c10"
  "c11 c12";
  padding: 0px;
  margin-left: 100px;
  margin-right: 50px;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  justify-content: center;
  justify-items: center;
}
.first-menu {
  grid-area: first-menu;
  background: black;
  padding: 50px 60%;
  margin-bottom: 20px;
}

.c1 {
  grid-area: c1;

  border: 5px solid black;


}
.c2 {
  grid-area: c2;

  border: 5px solid black;
}
.c3 {
  grid-area: c3;

  border: 5px solid black;
}
.c4 {
  grid-area: c4;

  border: 5px solid black;
}
.second-menu {
  grid-area: second-menu;
  background: black;
  padding: 50px 55%;
  margin-bottom: 20px;
  white-space: nowrap;
}
.c5 {
  grid-area: c5;

  border: 5px solid black;
}
.c6 {
  grid-area: c6;

  border: 5px solid black;
}
.c7 {
  grid-area: c7;

  border: 5px solid black;
}
.c8 {
  grid-area: c8;

  border: 5px solid black;
}
.third-menu {
  grid-area: third-menu;
  background: black;
  padding: 50px 60%;
  margin-bottom: 20px;
  white-space: nowrap
}
.c9 {
  grid-area: c9;

  border: 5px solid black;
}
.c10 {
  grid-area: c10;

  border: 5px solid black;
}
.c11 {
  grid-area: c11;
  border: 5px solid black;
}
.c12 {
  grid-area: c12;
  border: 5px solid black;
}


.t1 {
  position: absolute;
  transform: translate(0px, -110%);
  letter-spacing: 2px;
  background-color: #161616;
  opacity: 0.9;
  text-align: center;
  width: 260px;
  justify-content: center;
  overflow: hidden;

}
.t2 {
  position: absolute;
  transform: translate(0px, -110%);
  letter-spacing: 2px;
  background-color: #161616;
  opacity: 0.9;
  text-align: center;
  width: 260px;
  justify-content: center;
  overflow: hidden;

}
.t3 {
  position: absolute;
  transform: translate(0px, -110%);
  letter-spacing: 2px;
  background-color: #161616;
  opacity: 0.9;
  text-align: center;
  width: 260px;
  justify-content: center;
  overflow: hidden;
}
.t4 {
  position: absolute;
  transform: translate(0px, -110%);
  letter-spacing: 2px;
  background-color: #161616;
  opacity: 0.9;
  text-align: center;
  width: 260px;
  justify-content: center;
  overflow: hidden;
}
.t5 {
  position: absolute;
  transform: translate(0px, -110%);
  letter-spacing: 2px;
  background-color: #161616;
  opacity: 0.9;
  text-align: center;
  width: 260px;
  justify-content: center;
  overflow: hidden;

}
.t6 {
  position: absolute;
  transform: translate(0px, -110%);
  letter-spacing: 2px;
  background-color: #161616;
  opacity: 0.9;
  text-align: center;
  width: 260px;
  justify-content: center;
  overflow: hidden;

}
.t7 {
  position: absolute;
  transform: translate(0px, -110%);
  letter-spacing: 2px;
  background-color: #161616;
  opacity: 0.9;
  text-align: center;
  width: 260px;
  justify-content: center;
  overflow: hidden;

}
.t8 {
  position: absolute;
  transform: translate(0px, -110%);
  letter-spacing: 2px;
  background-color: #161616;
  opacity: 0.9;
  text-align: center;
  width: 260px;
  justify-content: center;
  overflow: hidden;

}
.t9 {
  position: absolute;
  transform: translate(0px, -110%);
  letter-spacing: 2px;
  background-color: #161616;
  opacity: 0.9;
  text-align: center;
  width: 260px;
  justify-content: center;
  overflow: hidden;

}
.t10 {
  position: absolute;
  transform: translate(0px, -110%);
  letter-spacing: 2px;
  background-color: #161616;
  opacity: 0.9;
  text-align: center;
  width: 260px;
  justify-content: center;
  overflow: hidden;

}
.t11 {
  position: absolute;
  transform: translate(0px, -110%);
  letter-spacing: 2px;
  background-color: #161616;
  opacity: 0.9;
  text-align: center;
  width: 260px;
  justify-content: center;
  overflow: hidden;

}
.t12 {
  position: absolute;
  transform: translate(0px, -110%);
  letter-spacing: 2px;
  background-color: #161616;
  opacity: 0.9;
  text-align: center;
  width: 260px;
  justify-content: center;
  overflow: hidden;

}



@media(max-width: 900px) {
  .allcards {
    display: grid;
    text-align: center;
    position: relative;

    grid-template-columns: 40% 40%;
    grid-template-rows: 90px 300px 300px 90px 300px 300px 90px 300px 300px;
    grid-template-areas:
    "first-menu first-menu"
    "c1 c2"
    "c3 c4"
    "second-menu second-menu"
    "c5 c6"
    "c7 c8"
    "third-menu third-menu"
    "c9 c10"
    "c11 c12";
  }
  .first-menu {
    grid-area: first-menu;
    background: black;
    padding: 50px 50%;
    margin-bottom: 20px;

  }

  .c1 {
    grid-area: c1;

    border: 5px solid black;


  }
  .c2 {
    grid-area: c2;

    border: 5px solid black;
  }
  .c3 {
    grid-area: c3;

    border: 5px solid black;
  }
  .c4 {
    grid-area: c4;

    border: 5px solid black;
  }
  .second-menu {
    grid-area: second-menu;
    background: black;
    padding: 50px 50%;
    margin-bottom: 20px;
    white-space: nowrap;
  }
  .c5 {
    grid-area: c5;

    border: 5px solid black;
  }
  .c6 {
    grid-area: c6;

    border: 5px solid black;
  }
  .c7 {
    grid-area: c7;

    border: 5px solid black;
  }
  .c8 {
    grid-area: c8;

    border: 5px solid black;
  }
  .third-menu {
    grid-area: third-menu;
    background: black;
    padding: 50px 60%;
    margin-bottom: 20px;
    white-space: nowrap
  }
  .c9 {
    grid-area: c9;

    border: 5px solid black;
  }
  .c10 {
    grid-area: c10;

    border: 5px solid black;
  }
  .c11 {
    grid-area: c11;
    border: 5px solid black;
  }
  .c12 {
    grid-area: c12;
    border: 5px solid black;
  }
  .t1 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 200px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
  }
  .t2 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 200px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;

  }
  .t3 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 200px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
  }
  .t4 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 200px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
  }
  .t5 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 200px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
  }
  .t6 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 200px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
  }
  .t7 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 200px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
  }
  .t8 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 200px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
  }
  .t9 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 200px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
  }
  .t10 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 200px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
  }
  .t11 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 200px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;

  }
  .t12 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 200px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;

  }





}
@media(max-width: 700px) {
  .allcards {
    display: grid;
    text-align: center;
    position: relative;
    grid-template-columns: 40% 40%;
    grid-template-rows: 50px 200px 200px 50px 200px 200px 50px 200px 200px;
    grid-template-areas:
    "first-menu first-menu"
    "c1 c2"
    "c3 c4"
    "second-menu second-menu"
    "c5 c6"
    "c7 c8"
    "third-menu third-menu"
    "c9 c10"
    "c11 c12";
  }
  .first-menu {
    grid-area: first-menu;
    background: black;
    padding: 10px 200px;
    margin-bottom: 0px;
  }

  .c1 {
    grid-area: c1;

    border: 5px solid black;


  }
  .c2 {
    grid-area: c2;

    border: 5px solid black;
  }
  .c3 {
    grid-area: c3;

    border: 5px solid black;
  }
  .c4 {
    grid-area: c4;

    border: 5px solid black;
  }
  .second-menu {
    grid-area: second-menu;
    background: black;
    padding: 10px 150px;
    margin-bottom: 0px;
    white-space: nowrap;
  }
  .c5 {
    grid-area: c5;

    border: 5px solid black;
  }
  .c6 {
    grid-area: c6;

    border: 5px solid black;
  }
  .c7 {
    grid-area: c7;

    border: 5px solid black;
  }
  .c8 {
    grid-area: c8;

    border: 5px solid black;
  }
  .third-menu {
    grid-area: third-menu;
    background: black;
    padding: 10px 200px;
    margin-bottom: 0px;
    white-space: nowrap
  }
  .c9 {
    grid-area: c9;

    border: 5px solid black;
  }
  .c10 {
    grid-area: c10;

    border: 5px solid black;
  }
  .c11 {
    grid-area: c11;
    border: 5px solid black;
  }
  .c12 {
    grid-area: c12;
    border: 5px solid black;
  }
  .t1 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 130px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: .6rem;
  }
  .t2 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 130px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: .6rem;
  }
  .t3 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 130px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: .6rem;
  }
  .t4 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 130px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: .6rem;
  }
  .t5 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 130px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: .6rem;
  }
  .t6 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 130px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: .6rem;
  }
  .t7 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 130px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: .6rem;
  }
  .t8 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 130px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: .6rem;
  }
  .t9 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 130px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: .6rem;
  }
  .t10 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 130px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: .6rem;
  }
  .t11 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 130px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: .6rem;
  }
  .t12 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 130px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: .6rem;
  }

}
@media(max-width: 500px) {
  .allcards {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: 50px 200px 200px 200px 200px 50px 200px 200px 200px 200px 50px 200px 200px 200px 200px;
    grid-template-areas:
    "first-menu"
    "c1"
    "c2"
    "c3"
    "c4"
    "second-menu"
    "c5"
    "c6"
    "c7"
    "c8"
    "third-menu"
    "c9"
    "c10"
    "c11"
    "c12";
    margin: 10px;
    grid-gap: 20px;

  }
  .first-menu {
    grid-area: first-menu;
    background: black;
    padding: 10px 200px;
    margin-bottom: 0px;

  }

  .c1 {
    grid-area: c1;
    border: 5px solid black;


  }
  .c2 {
    grid-area: c2;

    border: 5px solid black;
  }
  .c3 {
    grid-area: c3;

    border: 5px solid black;
  }
  .c4 {
    grid-area: c4;

    border: 5px solid black;
  }
  .second-menu {
    grid-area: second-menu;
    background: black;
    padding: 10px 200px;
    margin-bottom: 0px;


    white-space: nowrap;
  }
  .c5 {
    grid-area: c5;

    border: 5px solid black;
  }
  .c6 {
    grid-area: c6;

    border: 5px solid black;
  }
  .c7 {
    grid-area: c7;

    border: 5px solid black;
  }
  .c8 {
    grid-area: c8;

    border: 5px solid black;
  }
  .third-menu {
    grid-area: third-menu;
    background: black;

    padding: 10px 200px;
    margin-bottom: 0px;

    white-space: nowrap
  }
  .c9 {
    grid-area: c9;

    border: 5px solid black;
  }
  .c10 {
    grid-area: c10;

    border: 5px solid black;
  }
  .c11 {
    grid-area: c11;
    border: 5px solid black;
  }
  .c12 {
    grid-area: c12;
    border: 5px solid black;
  }
  .t1 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 140px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.6rem;

  }
  .t2 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 140px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: .6rem;
  }
  .t3 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 140px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: .6rem;
  }
  .t4 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 140px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: .6rem;
  }
  .t5 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 140px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: .6rem;
  }
  .t6 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 140px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: .6rem;
  }
  .t7 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 140px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: .6rem;
  }
  .t8 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 140px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: .6rem;
  }
  .t9 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 140px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: .6rem;
  }
  .t10 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 140px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: .6rem;
  }
  .t11 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 140px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: .6rem;
  }
  .t12 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 140px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: .6rem;
  }
}
@media(max-width: 350px) {
  .allcards {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: 50px 200px 200px 200px 200px 50px 200px 200px 200px 200px 50px 200px 200px 200px 200px;
    grid-template-areas:
    "first-menu"
    "c1"
    "c2"
    "c3"
    "c4"
    "second-menu"
    "c5"
    "c6"
    "c7"
    "c8"
    "third-menu"
    "c9"
    "c10"
    "c11"
    "c12";
    margin: 10px;
    grid-gap: 10px;

  }
  .first-menu {
    grid-area: first-menu;
    background: black;

    margin-bottom: 0px;

  }

  .c1 {
    grid-area: c1;
    border: 5px solid black;


  }
  .c2 {
    grid-area: c2;

    border: 5px solid black;
  }
  .c3 {
    grid-area: c3;

    border: 5px solid black;
  }
  .c4 {
    grid-area: c4;

    border: 5px solid black;
  }
  .second-menu {
    grid-area: second-menu;
    background: black;

    margin-bottom: 0px;


    white-space: nowrap;
  }
  .c5 {
    grid-area: c5;

    border: 5px solid black;
  }
  .c6 {
    grid-area: c6;

    border: 5px solid black;
  }
  .c7 {
    grid-area: c7;

    border: 5px solid black;
  }
  .c8 {
    grid-area: c8;

    border: 5px solid black;
  }
  .third-menu {
    grid-area: third-menu;
    background: black;


    margin-bottom: 0px;

    white-space: nowrap
  }
  .c9 {
    grid-area: c9;

    border: 5px solid black;
  }
  .c10 {
    grid-area: c10;

    border: 5px solid black;
  }
  .c11 {
    grid-area: c11;
    border: 5px solid black;
  }
  .c12 {
    grid-area: c12;
    border: 5px solid black;
  }
  .t1 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 140px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.6rem;

  }
  .t2 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 140px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: .6rem;
  }
  .t3 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 140px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: .6rem;
  }
  .t4 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 140px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: .6rem;
  }
  .t5 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 140px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: .6rem;
  }
  .t6 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 140px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: .6rem;
  }
  .t7 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 140px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: .6rem;
  }
  .t8 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 140px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: .6rem;
  }
  .t9 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 140px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: .6rem;
  }
  .t10 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 140px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: .6rem;
  }
  .t11 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 140px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: .6rem;
  }
  .t12 {
    position: absolute;
    transform: translate(0px, -110%);
    letter-spacing: 2px;
    background-color: #161616;
    opacity: 0.9;
    text-align: center;
    width: 140px;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: .6rem;
  }
}


/* -----------^CONTENT^-------------*/

/*-------------FOOTER --------*/
.footer {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: repeat(1, fr);
  grid-template-areas:
  "hours address quote";
  margin-top: 20px;

}
.hours {
  grid-area: hours;
  background-color: #000;
  padding: 50px;
  word-spacing: 10px;

}
.address {
  grid-area: address;
  background-color: #000;
  padding: 50px;

}
.quote {
  grid-area: quote;
  background-color: #000;
  padding: 50px;

}
#deliv {
  color: green;
  font-size: 13px;
}
#hours {
  font-size: 25px;
}
#address {
  font-size: 25px;
}


/*-------------^FOOTER^ --------*/

/*---- MEDIA QUERIES For Nav Bar---------*/
/* 1050px Screen */
@media(max-width: 1050px) {
  .navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 50%);
    grid-template-areas:
    "logo home menu"
    "logo about contact";
    padding: 10px;
  }
  .logo {
    padding-top: 20px;
    padding-bottom: 5px;
  }
  .home {
    grid-area: home;

  }
  .menu {
    grid-area: menu;

  }
  .about {
    grid-area: about;

  }
  .contact {
    grid-area: contact;

  }
}
/* 580px Screen */
@media(max-width: 580px) {
  .container {
    margin:0px;
  }
  .navbar {
    display: grid;
    height: 630px;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 18.75% 18.75% 18.75% 18.75% ;
    grid-template-areas:
    "logo"
    "home"
    "menu"
    "about"
    "contact";
    background-color: rgba(16, 7, 22, 0.8) ;

  }
  .logo {
    grid-area: logo;
    padding: 10px 10px 40px 10px;

  }
  .home {
    grid-area: home;
    padding: 2px;
    margin-bottom: 10px;
  }
  .menu {
    grid-area: menu;
    padding: 2px;
  }
  .about {
    grid-area: about;
    padding: 2px;
  }
  .contact {
    grid-area: contact;
    padding: 2px;
  }
  .navbar a {
    padding: 10px 80px;
  }

}
@media(max-width: 400px) {
  .container {
    width: 100%
    margin: 0px;
    padding: 0px;
  }
  .body {
    margin: 0px;
    padding: 0px;
  }

  .navbar {
    display: grid;
    height: 630px;
    grid-template-columns: 100%;
    grid-template-rows: 25% 18.75% 18.75% 18.75% 18.75% ;
    grid-template-areas:
    "logo"
    "home"
    "menu"
    "about"
    "contact";
    background-color: rgba(16, 7, 22, 0.8) ;
    margin: 2px;

  }
  .logo {
    grid-area: logo;
    adding: 10px 10px 40px 10px;

  }
  .home {
    grid-area: home;
    padding: 2px;
    margin-bottom: 10px;
  }
  .menu {
    grid-area: menu;
    padding: 2px;
  }
  .about {
    grid-area: about;
    padding: 2px;
  }
  .contact {
    grid-area: contact;
    padding: 2px;
  }
  .navbar a {
    padding: 10px 80px;
  }
}








  /*----^ MEDIA QUERIES For Nav Bar^---------*/



  /*---- MEDIA QUERIES For Footer---------*/
  @media(max-width: 740px) {
    .footer {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(auto, minmax(1fr, 50%));
      grid-template-areas:
      "hours"
      "address"
      "quote";
      margin-top: 10px;
      padding: 5px;
      text-align: center;
    }
    .hours {
      grid-area: hours;
      padding:10px 10px 20px 10px;
    }
    .address {
      grid-area: address;
      padding: 10px 10px 20px 10px;
    }
    .quote {
      grid-area: quote;
      padding: 10px 10px 20px 10px;

  /*----^ MEDIA QUERIES For Footer^---------*/
