* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}
/*-------------NAVIGATION BAR --------*/
/*.navbar {
  display: grid;
  grid-template-columns: 48% 13% 13% 13% 13% ;
  grid-template-rows: repeat(1, 100%);
  grid-template-areas:
  "logo home menu about contact";
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
  background-color: #f6b319;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}
}
.logo {
grid-area: logo;
padding: 20px 20px;
font-family: cursive;
color: #006600;
font-size: 30px;
padding: 0px;

}
.home {
grid-area: home;
background: #f9cf6c;
padding: 40px 20px;

}
.menu {
grid-area: menu;
background: #f9cf6c;
padding: 40px 20px;
}
.about {
grid-area: about;
background: #f9cf6c;
padding: 40px 20px;
}
.contact {
grid-area: contact;
background: #f9cf6c;
padding: 40px 20px;
}*/


/*-------------^NAVIGATION BAR^ --------*/


/* -----------CONTENT-------------*/
.menu-details {
  margin-top: 20px;
}
.menu-details h1 {
  text-align: center;
}
.menu-details p {
  text-align: center;
  margin-top:10px;
}
.cards {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-gap: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 44px;
  margin-bottom: 40px;
  grid-auto-rows: 500px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  grid-template-areas:
  "c1 c2 c3 c4"
  "c5 c6 c7 c8"
  "c9 c10 c11 c12"
  "c13 c14 c15 c16"
  "c17 c18 c19 c20";

  align-content: center;
  grid-auto-rows: 400px;
  grid-auto-flow: row;

}
.c1 {
  grid-area: c1;
  width: 200px;
  height: 200px;
}
.t1 {
  position: absolute;
  transform: translate(0px, -110%);
  letter-spacing: 2px;
  background-color: #161616;
  justify-self: center;
  width: 200px;
  text-align: center;
  opacity: 0.9;
}
.c2 {
  grid-area: c2;
  width: 200px;
  height: 200px;
}
.t2 {
  position: absolute;
  transform: translate(0px, -110%);
  letter-spacing: 2px;
  background-color: #161616;
  justify-self: center;
  width: 200px;
  text-align: center;
  opacity: 0.9;
}
.c3 {
  grid-area: c3;
  width: 200px;
  height: 200px;
}
.t3 {
  position: absolute;
  transform: translate(0px, -110%);
  letter-spacing: 2px;
  background-color: #161616;
  justify-self: center;
  width: 200px;
  text-align: center;
  opacity: 0.9;
}

.c4 {
  grid-area: c4;
  width: 200px;
  height: 200px;
}
.t4 {
  position: absolute;
  transform: translate(0px, -110%);
  letter-spacing: 2px;
  background-color: #161616;
  justify-self: center;
  width: 200px;
  text-align: center;
  opacity: 0.9;
}
.c5 {
  grid-area: c5;
  width: 200px;
  height: 200px;
}
.t5 {
  position: absolute;
  transform: translate(0px, -110%);
  letter-spacing: 2px;
  background-color: #161616;
  justify-self: center;
  width: 200px;
  text-align: center;
  opacity: 0.9;
}
.c6 {
  grid-area: c6;
  width: 200px;
  height: 200px;
}
.t6 {
  position: absolute;
  transform: translate(0px, -110%);
  letter-spacing: 2px;
  background-color: #161616;
  justify-self: center;
  width: 200px;
  text-align: center;
  opacity: 0.9;
}
.c7 {
  grid-area: c7;
  width: 200px;
  height: 200px;
}
.t7 {
  position: absolute;
  transform: translate(0px, -110%);
  letter-spacing: 2px;
  background-color: #161616;
  justify-self: center;
  width: 200px;
  text-align: center;
  opacity: 0.9;
}
.c8 {
  grid-area: c8;
  width: 200px;
  height: 200px;
}
.t8 {
  position: absolute;
  transform: translate(0px, -110%);
  letter-spacing: 2px;
  background-color: #161616;
  justify-self: center;
  width: 200px;
  text-align: center;
  opacity: 0.9;
}
.c9 {
  grid-area: c9;
  width: 200px;
  height: 200px;
}
.t9 {
  position: absolute;
  transform: translate(0px, -110%);
  letter-spacing: 2px;
  background-color: #161616;
  justify-self: center;
  width: 200px;
  text-align: center;
  opacity: 0.9;
}
.c10 {
  grid-area: c10;
  width: 200px;
  height: 200px;
}
.t10 {
  position: absolute;
  transform: translate(0px, -110%);
  letter-spacing: 2px;
  background-color: #161616;
  justify-self: center;
  width: 200px;
  text-align: center;
  opacity: 0.9;
}
.c11 {
  grid-area: c11;
  width: 200px;
  height: 200px;
}
.t11 {
  position: absolute;
  transform: translate(0px, -110%);
  letter-spacing: 2px;
  background-color: #161616;
  justify-self: center;
  width: 200px;
  text-align: center;
  opacity: 0.9;
}

.c12 {
  grid-area: c12;
  width: 200px;
  height: 200px;
}
.t12 {
  position: absolute;
  transform: translate(0px, -110%);
  letter-spacing: 2px;
  background-color: #161616;
  justify-self: center;
  width: 200px;
  text-align: center;
  opacity: 0.9;
}
.c13 {
  grid-area: c13;
  width: 200px;
  height: 200px;
}
.t13 {
  position: absolute;
  transform: translate(0px, -110%);
  letter-spacing: 2px;
  background-color: #161616;
  justify-self: center;
  width: 200px;
  text-align: center;
  opacity: 0.9;
}
.c14 {
  grid-area: c14;
  width: 200px;
  height: 200px;
}
.t14 {
  position: absolute;
  transform: translate(0px, -110%);
  letter-spacing: 2px;
  background-color: #161616;
  justify-self: center;
  width: 200px;
  text-align: center;
  opacity: 0.9;
}
.c15 {
  grid-area: c15;
  width: 200px;
  height: 200px;
}
.t15 {
  position: absolute;
  transform: translate(0px, -110%);
  letter-spacing: 2px;
  background-color: #161616;
  justify-self: center;
  width: 200px;
  text-align: center;
  opacity: 0.9;
}
.c16 {
  grid-area: c16;
  width: 200px;
  height: 200px;
}
.t16 {
  position: absolute;
  transform: translate(0px, -110%);
  letter-spacing: 2px;
  background-color: #161616;
  justify-self: center;
  width: 200px;
  text-align: center;
  opacity: 0.9;
}
.c17 {
  grid-area: c17;
  width: 200px;
  height: 200px;
}
.t17 {
  position: absolute;
  transform: translate(0px, -110%);
  letter-spacing: 2px;
  background-color: #161616;
  justify-self: center;
  width: 200px;
  text-align: center;
  opacity: 0.9;
}
.c18 {
  grid-area: c18;
  width: 200px;
  height: 200px;
}
.t18 {
  position: absolute;
  transform: translate(0px, -110%);
  letter-spacing: 2px;
  background-color: #161616;
  justify-self: center;
  width: 200px;
  text-align: center;
  opacity: 0.9;
}
.c19 {
  grid-area: c19;
  width: 200px;
  height: 200px;
}
.t19 {
  position: absolute;
  transform: translate(0px, -110%);
  letter-spacing: 2px;
  background-color: #161616;
  justify-self: center;
  width: 200px;
  text-align: center;
  opacity: 0.9;
}
.c20 {
  grid-area: c20;
  width: 200px;
  height: 200px;
}
.t20 {
  position: absolute;
  transform: translate(0px, -110%);
  letter-spacing: 2px;
  background-color: #161616;
  justify-self: center;
  width: 200px;
  text-align: center;
  opacity: 0.9;
}








/* -----------^CONTENT^-------------*/

/*-------------FOOTER --------*/
.footer {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: repeat(1, fr);
  grid-template-areas:
  "hours address quote";
  margin-top: 20px;

}
.hours {
  grid-area: hours;
  background-color: #161616;
  padding: 50px;
  word-spacing: 10px;

}
.address {
  grid-area: address;
  background-color: #161616;
  padding: 50px;

}
.quote {
  grid-area: quote;
  background-color: #161616;
  padding: 50px;

}
#deliv {
  color: green;
  font-size: 13px;
}
#hours {
  font-size: 25px;
}
#address {
  font-size: 25px;
}


/*-------------^FOOTER^ --------*/

/*---- MEDIA QUERIES For Nav Bar---------*/
            /* 880px screen */
@media screen and (min-width: 880px) {
  .navbar {
    display: grid;
    grid-template-columns: 48% 13% 13% 13% 13% ;
    grid-template-rows: repeat(1, 100%);
    grid-template-areas:
    "logo home menu about contact";
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: #f6b319;
    text-align: center;
    padding: 20px;
    font-size: 20px;
  }
}
.logo {
  grid-area: logo;
  padding: 20px 20px;
  font-family: cursive;
  color: #006600;
  font-size: 30px;
  padding: 0px;

}
.home {
  grid-area: home;
  background: #f9cf6c;
  padding: 40px 20px;

}
.menu {
  grid-area: menu;
  background: #f9cf6c;
  padding: 40px 20px;
}
.about {
  grid-area: about;
  background: #f9cf6c;
  padding: 40px 20px;
}
.contact {
  grid-area: contact;
  background: #f9cf6c;
  padding: 40px 20px;
}

       /* 880px screen */
