* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  color: #fff;
  background-image: url("./tile22.jpg");
  /*background-color: #E5E9EA;*/
  font-family: 'Oxygen', sans-serif;
  width: 100%;
  height: auto;


/* --------------ALL LINK STYLES----------*/
}
.navbar a:link {
  color: #000;
}
.navbar a:visited {
  color: #000;
}
.navbar a:hover {
  color: #fff;
  transition: 0.2s;
  background-color: #fff;
  border-radius: 25px;
}
.navbar a:active {
  color: black;
}
.navbar a {
  text-decoration: none;
  padding: 20px;
  background-color: #D8D8C5;
  border-radius: 5px;
  background-image: url("./navwood.jpg");
  transition: 1s ease-in-out;
}
/* NAV BAR */
.navbar {
  display: grid;
  grid-template-columns: 48% 13% 13% 13% 13% ;
  grid-template-rows: repeat(1, 100%);
  grid-template-areas:
  "logo home menu about contact";
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
  background-color: #100716;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}
}
.logo {
grid-area: logo;
padding: 20px 20px;
font-family: cursive;
color: #006600;
font-size: 30px;
padding: 0px;
color: #FFF;

}
.home {
grid-area: home;
background: #100716;
padding: 40px 20px;
color: #FFF;


}
.menu {
grid-area: menu;
background: #100716;
padding: 40px 20px;
color: #FFF;
}
.about {
grid-area: about;
background: #100716;
padding: 40px 20px;
color: #FFF;
}
.contact {
grid-area: contact;
background: #100716;
padding: 40px 20px;
color: #FFF;
}


/* NAV BAR */
.small-image1:hover {
  font-size: larger;
  transition: 0.2s;
  background-color: #fff;
}
.small-image1 a:link{
  color: #FFF;
}
.small-image1 a:visited{
  color: #FFF;
}
.small-image1 img:hover {

  transition: 0.9s;
}
.small-image1 a:hover{

  transition: 0.5s;
  font-size: larger;
  filter: drop-shadow(2px 8px 1px black);
}
.small-image1 a:active{

}
.small-image2:hover {
  font-size: larger;
  transition: 0.2s;
}
.small-image2 a:link{
  color: #FFF;
}
.small-image2 a:visited{
  color: #FFF;
}
.small-image2 img:hover {

  transition: 0.9s;
}
.small-image2 a:hover{

  transition: 0.5s;
  font-size: larger;
  filter: drop-shadow(2px 8px 1px black);
}
.small-image2 a:active{

}
#menulinkblur:hover {
  filter: blur(0px) !important;
}

/*---------------^LINK STYLE^---------*/
/*-------------NAVIGATION BAR --------*/

/*.navbar {
  display: grid;
  grid-template-columns: 60% 20% 20%;
  grid-template-rows: repeat(2, 100%);
  grid-template-areas:
  "logo home menu"
  "logo about contact";
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
  background-color: #f6b319;
  text-align: center;
  padding: 20px;
  font-size: 20px;

}
.logo {
  grid-area: logo;
  padding: 20px 20px;
  font-family: cursive;
  color: #006600;
  font-size: 30px;
  padding: 0px;

}
.home {
  grid-area: home;
  background: #f9cf6c;
  padding: 40px 20px;

}
.menu {
  grid-area: menu;
  background: #f9cf6c;
  padding: 40px 20px;
}
.about {
  grid-area: about;
  background: #f9cf6c;
  padding: 40px 20px;
}
.contact {
  grid-area: contact;
  background: #f9cf6c;
  padding: 40px 20px;
}
*/
/*-------------^NAVIGATION BAR^ --------*/

/*-------------CONTENT --------*/




.content {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(3, 30%);
  grid-template-areas:
  "main-image main-image main-image"
  "main-image main-image main-image"
  "small-image1 small-image2 small-image3";
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
  justify-content: center;
  grid-gap: 30px;


}
.main-image {
  grid-area: main-image;

}
.small-image1 {
  grid-area: small-image1;
  position: relative;
}
.small-image1:hover {
  border-color: #ffffe6;
  filter: blur(0px);
}
.menu-text {
  position: absolute;
  transform: translate(0px, -110%);
  letter-spacing: 2px;
  background-color: #161616;
  justify-self: center;
  width: 100%;
  text-align: center;
  opacity: 0.9;
  font-size: 100%;

}
.menu-textblock {
  background-color: black;
  color: white
}
.small-image2 {
  grid-area: small-image2;
  position: relative;
}

.small-image2:hover {
  border-color: #ffffe6;
  filter: blur(0px);
}
.specials {
  position: absolute;
  transform: translate(0px, -110%);
  letter-spacing: 2px;
  background-color: #161616;
  justify-self: center;
  width: 100%;
  text-align: center;
  opacity: 0.9;
  font-size: 100%;

}
.address-textblock {
  background-color: black;
  color: white
}


.small-image3 {
  grid-area: small-image3;
  position: relative;
}
.small-image3:hover {
  border-color: #ffffe6;
  filter: blur(0px);
}
.map-text {
  position: absolute;
  transform: translate(0px, -110%);
  letter-spacing: 2px;
  background-color: #161616;
  justify-self: center;
  width: 100%;
  text-align: center;
  opacity: 0.9;
  font-size: 100%;
}

.map-textblock {
  background-color: black;
  color: white;
}

/*-------------^CONTENT^ --------*/

/*-------------FOOTER --------*/

.footer {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: repeat(1, fr);
  grid-template-areas:
  "hours address quote";
  margin-top: 20px;

}
.hours {
  grid-area: hours;
  background-color: #161616;
  padding: 50px;
  word-spacing: 10px;

}
.address {
  grid-area: address;
  background-color: #161616;
  padding: 50px;

}
.quote {
  grid-area: quote;
  background-color: #161616;
  padding: 50px;

}
#deliv {
  color: green;
  font-size: 13px;
}
#hours {
  font-size: 25px;
}
#address {
  font-size: 25px;
}


/*-------------^FOOTER^ --------*/

/*---- MEDIA QUERIES For Nav Bar---------*/
/* 1050px Screen */
@media(max-width: 1050px) {
  .navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 50%);
    grid-template-areas:
    "logo home menu"
    "logo about contact";
    padding: 10px;
  }
  .logo {
    padding-top: 20px;
    padding-bottom: 5px;
  }
  .home {
    grid-area: home;

  }
  .menu {
    grid-area: menu;

  }
  .about {
    grid-area: about;

  }
  .contact {
    grid-area: contact;

  }
}
/* 580px Screen */
@media(max-width: 580px) {
  .navbar {
    display: grid;
    height: 630px;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 18.75% 18.75% 18.75% 18.75% ;
    grid-template-areas:
    "logo"
    "home"
    "menu"
    "about"
    "contact";
    background-color: rgba(16, 7, 22, 0.8) ;

  }
  .logo {
    grid-area: logo;
    adding: 10px 10px 40px 10px;

  }
  .home {
    grid-area: home;
    padding: 2px;
    margin-bottom: 10px;
  }
  .menu {
    grid-area: menu;
    padding: 2px;
  }
  .about {
    grid-area: about;
    padding: 2px;
  }
  .contact {
    grid-area: contact;
    padding: 2px;
  }
  .navbar a {
    padding: 10px 80px;
  }

}








  /*----^ MEDIA QUERIES For Nav Bar^---------*/

  /*---- MEDIA QUERIES For Content---------*/
@media screen and (min-width: 880px) {
  .content {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3, 30%);
    grid-template-areas:
    "main-image main-image main-image"
    "main-image main-image main-image"
    "small-image1 small-image2 small-image3";
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
    justify-content: center;
    grid-gap: 30px;


  }

}
  /*-------------880px --------*/
/*----^ MEDIA QUERIES For Content^---------*/
  /*-------------600px --------*/
  @media screen and (max-width: 600px) {
  .content {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(4,200px);
    grid-template-areas:
    "main-image"
    "small-image1"
    "small-image2"
    "small-image3";
  }
  .main-image {
    grid-area: main-image;
  }
  .small-image1 {
    grid-area: small-image1;
  }
  .small-image2 {
    grid-area: small-image2;
  }
  .small-image3 {
    grid-area: small-image3;
  }
}







/*----^ MEDIA QUERIES For Content^---------*/
/*---- MEDIA QUERIES For Footer---------*/
@media(max-width: 740px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, minmax(1fr, 50%));
    grid-template-areas:
    "hours"
    "address"
    "quote";
    margin-top: 10px;
    padding: 5px;
    text-align: center;
  }
  .hours {
    grid-area: hours;
    padding:10px 10px 20px 10px;
  }
  .address {
    grid-area: address;
    padding: 10px 10px 20px 10px;
  }
  .quote {
    grid-area: quote;
    padding: 10px 10px 20px 10px;

/*----^ MEDIA QUERIES For Footer^---------*/
